{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/form.css') }}">
{% endblock %}

{% block headerTitle %}{{ parent() }}{% endblock %}

{% block content %}
    <h1>Formulář {{ employee ? 'úpravy zaměstnance ' ~ employee.name : 'nového zaměstnance' }}</h1>

    {{- form_start(form) -}}
    {{- form_widget(form) -}}
    <button type="submit" class="button">{{ employee ? 'Upravit' : 'Vytvořit' }}</button>
    {{- form_end(form) -}}
{% endblock %}
